.buy-icon-active { background-position: -5px -0px; width: 28px; height: 21px; }
.buy-icon-hover { background-position: -5px -26px; width: 28px; height: 21px; }
.buy-icon { background-position: -5px -52px; width: 28px; height: 21px; }
